head{
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    width: 100px;
    line-height: 100px;
}

h1 { 
    font-size : 20pt;
    font-family : verdana,arial;
    text-align: center;
    color: red;
    background-color:lightgray;   
}

h2 { 
    font-size : 15pt;
    font-family : verdana,arial;
    color:black;  
    padding: 10px 
}

h3{
    font-size : 13pt;
    font-family : verdana,arial;
    color:black;
    padding: 10px

}


nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    background-color: white;
    padding: 10px
}

.clearfix{
    clear: both;
}


#contenedor{
    width: 1000px;
    margin: 0px auto;
    border: 1px ;
    background: white;

}

#contect{
    float: left;
    background: white;
}


footer{
    background: black;
    color: white;
    height: 200px;
    line-height: 10px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 280px 40px;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #AA80DE;
    margin: 0px;
}  

table { font-family: “Lucida Sans Unicode”, “Lucida Grande”, Sans-Serif;
    font-size: 12px; margin: 45px; width: 480px; text-align: left; border-collapse: collapse; }
    
th { font-size: 13px; font-weight: normal; padding: 8px; background: #AA80DE;
    border-top: 4px solid; border-bottom: 1px solid ; color: #000000; }
    
td { padding: 8px; background: #CC9FE4; border-bottom: 1px solid ;
    color: #000000; border-top: 1px solid transparent; }


P {
    font-size : 12pt;
    font-family : arial,helvetica;
    font-weight : normal;
    text-align: justify;
    padding: 10px;
}

.center {
    position: absolute;
    top: 30%;
    width: 70%;
    text-align: center;
    font-size: 18px;
}

form{
   
	padding:10px;
	margin:10px;
}

label{
	width: 100px;
	color:black;
	margin: 10px;;
    font-family: Arial, Helvetica, sans-serif;
}

input{
    width:45%;	
    background:white;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
}

textarea{
	width:45%;
	background:white;
	color:black;
    font-family: Arial, Helvetica, sans-serif;
}

button{
	width:45%;
	background:white;
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    margin:5px;
}

#contener{
    width: 1200px;
    margin: 100px auto;
    border: 1px solid black ;
    background: white;
}

#contec{

    width: 1200px;
    margin: 200px auto;
    background: white;

}





